<!DOCTYPE html>
<html>
  <body>
    <p> Hello <b>{{ .Name }} {{ .Surname }}</b></p>
    <p>You gender is <b>{{ .Gender }}</b></p>
    <p>You <b>{{ .BirthDate }}</b> years old</p>
    <p>You now live in <b>{{ .City }}</b></p>
    <p>You interests is: <b>{{ .Interests }}</b></p>

    <input type="button" onclick="location.href='/list';" value="User list" />
    <input type="button" onclick="location.href='/logout';" value="Logout" /><br />
  </body>
</html>