<!DOCTYPE html>
<html>
    <head>
        <style>
            table {
                border-collapse: collapse;
                border: 1px solid black;
                width: 100%;
                background-color: azure;
            }
            table th {
                border: 1px solid black;
                background-color: aquamarine;
            }
            table td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h2> Your account data</h2>
        <p> Hello <b>{{ .user.Name }} {{ .user.Surname }}</b></p>
        <p>You gender is <b>{{ .user.Gender }}</b></p>
        <p>You <b>{{ .user.YearsOld }}</b> years old</p>
        <p>You now live in <b>{{ .user.City }}</b></p>
        <p>You interests is: <b>{{ .user.Interests }}</b></p>

        <h2>Available actions:</h2>
        <input type="button" onclick="location.href='/addPost';" value="Create Post" />
        <input type="button" onclick="location.href='/feed';" value="Friend Feed" />
        <input type="button" onclick="location.href='/list';" value="User list" />
        <input type="button" onclick="location.href='/logout';" value="Logout" /><br />

        <h2> You have friends:</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Years Old</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{ range $value:=.table }}
                    <tr>
                        <td><a>{{ $value.Name }} {{ $value.Surname }}</a></td>
                        <td><a>{{ $value.YearsOld }}</a></td>
                        <td><a>{{ $value.Gender }}</a></td>
                        <td><a>{{ $value.City }}</a></td>
                        <td><a href="/unsubscribe?id={{ $value.Id }}">Unsubscribe</a></td>
                    </tr>
                {{ end }}
            </tbody>
        </table>

        <h2> Your posts:</h2>
            {{ range $post:=.posts }}
                <a><b>{{ $post.Subject }}</b><br/><a>{{ $post.Body }}</a>
                <br/><br/>
            {{ end }}

    </body>
</html>