<!DOCTYPE html>
<html>
  <body>
    <h2>You must login!</h2>
    <p style="color: red;"><b>{{ .msg }}</b></p>
    <form method="POST">
      <input type="text" placeholder="Username" name="username" /><br />
      <input type="password" placeholder="Password" name="password" /><br />
      <button>Login</button>
      <input type="button" onclick="location.href='/signup';" value="or Sign Up" />
    </form>
  </body>
</html>